project_path = "Your project path, e.g. C:\\Users\\someuser\\Documents\\Python\\"
vscode_path = "Your VS Code path, e.g. C:\\Users\\someuser\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe"
git_ignore_url = "https://raw.githubusercontent.com/github/gitignore/main/Python.gitignore"